<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.siterwell.sdk" >

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 这个权限用于进行获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于进行wifi组播 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <!-- 这个权限用于获取wifi的获取权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <application android:allowBackup="true"
        android:supportsRtl="true">
        <!-- udp control service -->
        <service android:name="com.siterwell.sdk.common.SiterCoreService"
            android:exported="true"
            android:label="SiterCoreService"
            />

        <!-- websocket control service -->
        <service android:name="me.siter.sdk.service.SiterConnectionService"
            android:exported="true"
            android:label="ConnectionService"
            />
    </application>


</manifest>
